
.upload-box.left {
  text-align: left;
}

.upload-box.right {
  text-align: right;
}
.upload-box.center {
  text-align: center;
}
.previmg {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

button {
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}
button:disabled {
  color: #ccc;
  background-color: #eee;
  border-color: #ccc;
  cursor: default
}
.file-list {
  padding: 20px;
}

.file-list li {
  padding-left: 10px;
  font-size: 14px;
  margin-bottom: 10px;
  border-left: 2px solid transparent;
  line-height: 30px;
  display: flex;
  align-items: center;
  
}


.file-list li.upload-success {
  border-color: #03f303;
}

.file-list li.upload-ready {
  border-color: blue;
}

.file-list li.upload-error {
  border-color: red
}

.file-list li.uploading {
  border-color: orange;
}

.file-list li .file-btn-delete {
  margin-left: 10px;
  font-size: 18px;
}